  a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    
    &.nav-link {
      color: white;
      
      &:hover { 
        color: #D1D5DB;
      }
      &.gray {
        color: #6B7280;
        &:hover {
          color: #111827;
        }
      }
      &.indigo {
        color: #4F46E5;  
        &:hover {
          color: #6366F1;          
        }
      }
    }

    &.menu-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 8px 12px;
      border-radius: 6px;
      color: #374151;

      &:hover { 
        color: #111827;
        background: #F9FAFB;
      }
    }

  }

